html {
    height: 100%;
    width: 100%;
    font-size: 22px
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: normal;
    height: 100%;
    width: 100%;
    font-size: 22px;
}

.ant-switch {
    background-color: #f1633f;
}
.ant-switch-checked {
    background-color: #4a3ec8!important;
}
